
body{
    margin: 1.5em;
    font-family: 'Poppins',sans-serif;
}
br{
    display: none;
}
svg.menu{
    width: 78px;
   
    
}

.menu{
    cursor: pointer;
    
    
}
h1{
    font-weight: 700;
    font-size: 3.4rem;
    line-height: 3rem;
    background:linear-gradient(#262626, #eaeaea,#262626);
    -webkit-background-clip: text;
    color: transparent;
    z-index: 4;
    text-shadow: 1px 1px 0  #e9e7e7,2px 2px 0  #fffafa,3px 3px 0  #7a7a7a,4px 4px 0  #484747,
    5px 5px 0  #eceaea,1px 1px 0  #3e3e3e;
}
.subhead{
    font-size: 1.4rem;
    font-weight: 700;
    z-index: 4;
    text-shadow: 1px 1px 0  #e9e7e7,2px 2px 0   #7a7a7a,4px 4px 0  #484747,
    5px 5px 0  #eceaea,1px 1px 0  #3e3e3e;
}
a{
    text-decoration: none;
    font-size: 1.4rem;
}
.hero-img{
position: absolute;
top: 0;
left: 0;
background:url('/images/background1.jpg');
background-size: cover;
background-position-x: 20%;
background-position-y: 20%;
// overflow: hidden;
width: 100%;
height: 100vh;
z-index: -1;
}
.logo img {
    width: 38%;
    height: auto;
    overflow:clip;
//    size: 1em;
   margin-top: .7em;
   display: flex;
}
.open-nav{
    transform: translateX(0);
}
nav{
   position: fixed;
   right: 0;
   top: 0;
   background: white;
   height: 100vh;
   width: 50%;
   z-index: 999;
   text-transform: uppercase;
   transform: translateX(100%);
   transition: transform .5s ease-in-out;

   ul{
    list-style: none;
    padding: 0;
    margin-top: 8em;

    a{
       color: black;
        padding: .75em 2em;
        display: block;
        width: 100%;
        
        &:hover{
            background: rgb(245, 244, 244);
        }
    }
   }
   .close{
    float: right;
    margin-top: -6.9em;
    padding: 1.2em;
    width: 2em;
   }
}
header{
    display: flex;
    justify-content: space-between;

    svg{
     width: 3em;
     margin-top: -.6em;
     color: white;
    }
}
section.hero{
    color: white;
    height: 90vh;

    .down-arrow{
        position: absolute;
        bottom: 2em;
        width: 4em;
    }
}
.more-info{

    img{
        width: 100%;
        object-fit:cover;
        height: 27em;
    }
    .title{
     font-weight: bolder;
     font-size: 1.25rem;
    }
    .desc{
        line-height: 1.5rem;
    }
}
@media only screen and (min-width: 680px){
    body{
        margin: 1.5em 5em;
        font-family: 'Poppins',sans-serif;
    }
    .more-info{

        img{
            width: 100%;
            object-fit:cover;
            height: 29em;
        }
        .title{
         font-weight: bolder;
         font-size: 1.26rem;
        }
        .desc{
            line-height: 1.6rem;
        }
    }
}
@media only screen and (min-width: 920px){
    h1{
        font-size: 2.9rem;
        background:linear-gradient(#262626, #eaeaea,#262626);
        -webkit-background-clip: text;
        color: transparent;
        z-index: 2;
        text-shadow: 1px 1px 0  #353535,2px 2px 0  #323232,3px 3px 0  #262626,4px 4px 0  #262626,
        5px 5px 0  #616161,1px 1px 0  #969696;

    }
    br{
        display: block;
    }
    .menu{
      display: none;
    }
    .logo img {
        width: 26%;
        height: auto;
        overflow:clip;
       size: 10em;
       margin-top: -1.9em;
    }
    .hero-img{
        left: unset;
        right: 0;
        width: 50%;
    }
    section.hero{
        color: rgb(59, 59, 59);
        // height: auto;
        // width: 40%;
        // margin-bottom: 8em;

        svg.down-arrow{
            stroke: #000000;
            animation: moveArrow 1s alternate-reverse infinite;
            path{
                stroke: #000000;
                stroke-linejoin: #000000;
            }

        }
    }
    nav{
      transform: translateX(0);
      position: unset;
      display: block;
      width: auto;
      height: auto;
      background: none;
      
    
      svg.close{
        display:none;
      }
      ul{
        display: flex;
        margin: 0;

        a{
            color: white;
            padding: .2em 1.5em;

            &:hover{
                background: none;
                color: rgb(161, 244, 244);
            }
            
            // text-align: center;
        }
      }
    }
  .feature{
    display: grid;
    grid-template-columns: repeat(2,auto);
    gap: 3em;
    margin-bottom: 8em;

    img{
        width: 25em;
    }
    .content{
        text-align: right;
        width: 25em;
    }
  }
  .feature.left{
    grid-template-areas: "left right";

    img{
        grid-area: left;
    }
    .content{
        width: 25em;
        text-align: left;
        justify-self: left;
    }
  }
  p.subhead{
    font-size: 1.4rem;
    font-weight: 700;
    // z-index: 4;
    // text-shadow: 1px 1px 0  #e9e7e7,2px 2px 0   #7a7a7a,4px 4px 0  #484747,
    // 5px 5px 0  #eceaea,1px 1px 0  #3e3e3e;
}

  }
  @media only screen and (min-width: 1200px){
    .wrapper{
        width: 1200px;
        margin: 0 auto;
    }
    .feature{
        gap: 0;
    }
    p.subhead{
        font-size: 1.4rem;
        font-weight: 700;
        // z-index: 4;
        // text-shadow: 1px 1px 0  #e9e7e7,2px 2px 0   #7a7a7a,4px 4px 0  #484747,
        // 5px 5px 0  #eceaea,1px 1px 0  #3e3e3e;
    }
  }
  @keyframes moveArrow{
    from{
        transform: translateY(-30px);
    }
    to{
        transform: translateY(0);
    }
  }
