body {
  margin: 1.5em;
  font-family: 'Poppins',sans-serif;
}

br {
  display: none;
}

svg.menu {
  width: 78px;
}

.menu {
  cursor: pointer;
}

h1 {
  font-weight: 700;
  font-size: 3.4rem;
  line-height: 3rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#262626), color-stop(#eaeaea), to(#262626));
  background: linear-gradient(#262626, #eaeaea, #262626);
  -webkit-background-clip: text;
  color: transparent;
  z-index: 4;
  text-shadow: 1px 1px 0  #e9e7e7,2px 2px 0  #fffafa,3px 3px 0  #7a7a7a,4px 4px 0  #484747, 5px 5px 0  #eceaea,1px 1px 0  #3e3e3e;
}

.subhead {
  font-size: 1.4rem;
  font-weight: 700;
  z-index: 4;
  text-shadow: 1px 1px 0  #e9e7e7,2px 2px 0  #fffafa,3px 3px 0  #7a7a7a,4px 4px 0  #484747, 5px 5px 0  #eceaea,1px 1px 0  #5d5d5d;
}

a {
  text-decoration: none;
  font-size: 1.4rem;
}

.hero-img {
  position: absolute;
  top: 0;
  left: 0;
  background: url("/images/background1.jpg");
  background-size: cover;
  background-position-x: 20%;
  background-position-y: 20%;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.logo img {
  width: 38%;
  height: auto;
  overflow: clip;
  margin-top: .7em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.open-nav {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

nav {
  position: fixed;
  right: 0;
  top: 0;
  background: white;
  height: 100vh;
  width: 50%;
  z-index: 999;
  text-transform: uppercase;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform .5s ease-in-out;
  transition: -webkit-transform .5s ease-in-out;
  transition: transform .5s ease-in-out;
  transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
}

nav ul {
  list-style: none;
  padding: 0;
  margin-top: 8em;
}

nav ul a {
  color: black;
  padding: .75em 2em;
  display: block;
  width: 100%;
}

nav ul a:hover {
  background: #f5f4f4;
}

nav .close {
  float: right;
  margin-top: -6.9em;
  padding: 1.2em;
  width: 2em;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header svg {
  width: 3em;
  margin-top: -.6em;
  color: white;
}

section.hero {
  color: white;
  height: 90vh;
}

section.hero .down-arrow {
  position: absolute;
  bottom: 2em;
  width: 4em;
  display: none;
}

.more-info img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 27em;
}

.more-info .title {
  font-weight: bolder;
  font-size: 1.25rem;
}

.more-info .desc {
  line-height: 1.5rem;
}

a.footer-item {
  color: #000000;
  font-size: 14px;
  padding: 1px 2px;
  text-transform: uppercase;
  font-family: 'IBM Plex Sans', sans-serif;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: 7px;
}

a.footer-item:hover {
  text-decoration: underline;
  font-weight: bold;
}

ul.footer {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2px;
  text-align: center;
}

div.footer-reserved {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: initial;
      flex-wrap: initial;
}

p.footer-text {
  color: #000000;
  text-transform: uppercase;
  font-size: 14px;
  text-align: center;
  font-family: 'IBM Plex Sans', sans-serif;
}

@media only screen and (min-width: 680px) {
  body {
    margin: 1.5em 5em;
    font-family: 'Poppins',sans-serif;
  }
  .more-info img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    height: 29em;
  }
  .more-info .title {
    font-weight: bolder;
    font-size: 1.26rem;
  }
  .more-info .desc {
    line-height: 1.6rem;
  }
  .more-info a.footer-item {
    color: #000000;
    font-size: 14px;
    padding: 1px 2px;
    text-transform: uppercase;
    font-family: 'IBM Plex Sans', sans-serif;
  }
  .more-info a.footer-item:hover {
    text-decoration: underline;
    font-weight: bold;
  }
  .more-info ul.footer {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .more-info div.footer-reserved {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .more-info p.footer-text {
    color: #000000;
    text-transform: uppercase;
    font-size: 14px;
    text-align: center;
    font-family: 'IBM Plex Sans', sans-serif;
  }
}

@media only screen and (min-width: 920px) {
  h1 {
    font-size: 2.9rem;
    background: -webkit-gradient(linear, left top, left bottom, from(#262626), color-stop(#eaeaea), to(#262626));
    background: linear-gradient(#262626, #eaeaea, #262626);
    -webkit-background-clip: text;
    color: transparent;
    z-index: 2;
    text-shadow: 1px 1px 0  #e9e7e7,2px 2px 0  #fffafa,3px 3px 0  #7a7a7a,4px 4px 0  #484747, 5px 5px 0  #eceaea,1px 1px 0  #686767;
  }
  a.footer-item {
    color: #000000;
    font-size: 14px;
    padding: 1px 2px;
    text-transform: uppercase;
    font-family: 'IBM Plex Sans', sans-serif;
  }
  a.footer-item:hover {
    text-decoration: underline;
    font-weight: bold;
  }
  ul.footer {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  div.footer-reserved {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  p.footer-text {
    color: #000000;
    text-transform: uppercase;
    font-size: 14px;
    text-align: center;
    font-family: 'IBM Plex Sans', sans-serif;
  }
  br {
    display: block;
  }
  .menu {
    display: none;
  }
  .logo img {
    width: 26%;
    height: auto;
    overflow: clip;
    size: 10em;
    margin-top: -1.9em;
  }
  .hero-img {
    left: unset;
    right: 0;
    width: 50%;
  }
  section.hero {
    color: #3b3b3b;
  }
  section.hero svg.down-arrow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    stroke: #000000;
    animation: moveArrow 1s alternate-reverse infinite;
  }
  section.hero svg.down-arrow path {
    stroke: #000000;
    stroke-linejoin: #000000;
  }
  nav {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    position: unset;
    display: block;
    width: auto;
    height: auto;
    background: none;
  }
  nav svg.close {
    display: none;
  }
  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
  }
  nav ul a {
    color: white;
    padding: .2em 1.5em;
  }
  nav ul a:hover {
    background: none;
    color: #a1f4f4;
  }
  .feature {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[2];
        grid-template-columns: repeat(2, auto);
    gap: 3em;
    margin-bottom: 8em;
  }
  .feature img {
    width: 25em;
  }
  .feature .content {
    text-align: right;
    width: 25em;
  }
  .feature.left {
        grid-template-areas: "left right";
  }
  .feature.left img {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: left;
  }
  .feature.left .content {
    width: 25em;
    text-align: left;
    -ms-grid-column-align: left;
        justify-self: left;
  }
  p.subhead {
    font-size: 1.4rem;
    font-weight: 700;
    z-index: 4;
    text-shadow: 1px 1px 0  #e9e7e7,2px 2px 0  #fffafa,3px 3px 0  #8a8989,4px 4px 0  #484747, 5px 5px 0  #eceaea,1px 1px 0  #6f6e6e;
  }
}

@media only screen and (min-width: 1200px) {
  .wrapper {
    width: 1200px;
    margin: 0 auto;
  }
  .feature {
    gap: 0;
  }
  p.subhead {
    font-size: 1.4rem;
    font-weight: 700;
    z-index: 4;
    text-shadow: 1px 1px 0  #e9e7e7,2px 2px 0  #fffafa,3px 3px 0  #7a7a7a,4px 4px 0  #484747, 5px 5px 0  #eceaea,1px 1px   #898888;
  }
}

@-webkit-keyframes moveArrow {
  from {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes moveArrow {
  from {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
/*# sourceMappingURL=style.css.map */